body {
    margin: 0;
    font-family: cursive, sans-serif;

}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.color-container {
    background-color: orange;
    width: 300px;
    height: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    border: solid 2px black;
    border-radius: 10px;
}